[Desktop Entry]
Name=Arch
X-KDE-PluginInfo-Name=Arch
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
