[Desktop Entry]
Name=ArchGrass
X-KDE-PluginInfo-Name=ArchGrass
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
