[Desktop Entry]
Name=ArchLiquid
X-KDE-PluginInfo-Name=ArchLiquid
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
