[Desktop Entry]
Name=ArchPerspective
X-KDE-PluginInfo-Name=ArchPerspective
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
