[AdaptiveTransparency]
enabled=true

[Desktop Entry]
Comment=A dark and modern theme for Plasma 5
Name=Arch-light
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Arch-light
X-KDE-PluginInfo-Version=1.0.7
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=ArchGrass
defaultWidth=1920
